.cabeçalho {
    background-color: rgb(143, 53, 228);
    width: 1440px;
    height: 200px;
    padding: 20px;
    margin: 0;
}

.corpo{
    background-color: rgb(221, 35, 112);
}

.div{
    background-color: rgb(84, 170, 245);
    margin-top: 100px;
    border: 2px solid (0, 0, 0);
}